# Active Response configuration for Wazuh
# Defines the active response commands available to agents and the manager

restart-ossec0 - restart-ossec.sh - 0
restart-ossec0 - restart-ossec.cmd - 0
host-deny600 - host-deny.sh - 600
host-deny600 - route-null.sh - 600
host-deny600 - route-null.cmd - 600
firewall-drop600 - firewall-drop.sh - 600
disable-account0 - disable-account.sh - 0
disable-account0 - disable-account.cmd - 0
