filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/ossec/logs/alerts/alerts.json
    fields:
      logtype: wazuh-alerts
    fields_under_root: true
    json.message_key: data
    json.keys_under_root: true
    json.add_error_key: true

setup.template.name: "wazuh-alerts"
setup.template.pattern: "wazuh-alerts-*"
setup.ilm.enabled: false

output.elasticsearch:
  hosts: ["https://wazuh-indexer:9200"]
  username: "${INDEXER_USERNAME:admin}"
  password: "${INDEXER_PASSWORD}"
  ssl.verification_mode: full
  ssl.certificate_authorities: ["/etc/ssl/wazuh/ca.pem"]
  index: "wazuh-alerts-%{+yyyy.MM.dd}"

logging.level: info
logging.to_files: true
logging.files:
  path: /var/lib/filebeat
  name: filebeat
  keepfiles: 7
  permissions: 0644
